<div class="row table-header">
  <span class="cell cell-header">Item</span>
  <span class="cell cell-header">Description</span>
  <span class="cell cell-header">BASIC</span>
  <span class="cell cell-header">PRO</span>
  <span class="cell cell-header">ULT</span>
</div>

{{#each products}}
  <div class="row" data-product-name={{name}}>
    <span class="cell"><img src="assets/pricing_images/table_icon{{inc @index}}.png" alt=""></span>
    <span class="cell">{{name}}<br>{{description}}</span>
    <span class="cell selectable" data-product-price={{prices.basic}}>£{{prices.basic}}</span>
    <span class="cell selectable" data-product-price={{prices.pro}}>£{{prices.pro}}</span>
    <span class="cell selectable" data-product-price={{prices.ultimate}}>£{{prices.ultimate}}</span>
  </div>
{{/each}}