{{#each testimonials}}
  <div class="owl-slide">
    <div class="testimonials-content">
      <img class="testimonials-quotation-img" src="assets/landing_images/testimonial_quotation.png" alt="">
      <h2>Testimonials</h2>
      <p class="testimonials-company">{{company}}</p>
      <p>"{{testimonial}}"</p>
      <p class="testimonials-author">{{author}}</p>
    </div>
    <div class="testimonials-image-templates">
      <img class="img-desktop-template" src="assets/landing_images/testimonials_template_desktop.png" alt="">
      <img class="img-desktop" src="assets/testimonials_images/{{image-desktop}}" alt="">
      
      <img class="img-mobile-template" src="assets/landing_images/testimonials_template_mobile.png" alt="">
      <img class="img-mobile" src="assets/testimonials_images/{{image-mobile}}" alt="">
    </div>
  </div>
{{/each}}